.example-card {
    max-width: 40px;
    display: inline;
    position: relative;
    margin-top: 3%;
    padding: 5%;
    
  }
  .example {
    width: 10%;
    display: inline;
    padding: 3%;
    margin: 2%;
    background-color: #34495e;
  
  }
  .address{
    position: absolute;
    background-color: #3f51b5;;
    width: 20%;
     margin-top: 10%;
     margin-left: 35%;
     padding: 1%;
     border-radius: 10%;
}
     input[type=datetime-local], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }